<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>{{ .title }}</h1>
        <div class="inputfield">
            <label for="inputstring">Input:</label>
            <input type="text" id="inputstring">
            <button id="btnsubmit" onclick="doit(event)">Send</button>
        </div>
        <div class="outputfield">
            <label for="slink">Key:</label>
            <input id="slink" value="..."></input>
            <button id="btncopy" onclick="selectAndCopy(event)">Copy</button>
        </div>
        <p><code>$ curl {{ .host }}/s/{key}</code>
        </p>
        <p><code>$ wget {{ .host }}/s/{key}</key></code></p>
    </div>
</body>
<script>
    function doit(e) {
        console.log('e', e)
        var input = document.getElementById("inputstring").value

        console.log('in', input)
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '{{ .host }}/s')
        xhr.setRequestHeader("Content-Type", "application/json")
        var body = JSON.stringify({ "string_value": input })

        xhr.onreadystatechange = () => { // Call a function when the state changes.
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log('res', xhr.response)
                document.getElementById("slink").value = xhr.response;
            }
            else {

                console.log('Error', xhr.status)
            }
        }
        xhr.send(body)
    }
    function selectAndCopy(e) {
        var input = document.getElementById("slink");
        input.focus();
        input.select();
        document.execCommand('copy');
    }
</script>

</html>